name: Test

on:
  push:
  pull_request:

jobs:
  test:
    name: Test Ruby ${{ matrix.ruby }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        ruby: ["3.2", "3.3", "3.4"]

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ext/maxmind_db_rust/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}

      - name: Compile extension
        run: bundle exec rake compile

      - name: Run our own tests
        run: bundle exec rake test_own

      - name: Run MaxMind upstream tests
        run: bundle exec rake test_maxmind

      - name: Run all tests
        run: bundle exec rake test
